@charset "UTF-8";

body{
    background-color: var(--fundo01);
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--fundo01);
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid var(--azul06);
    padding: 0px 20px;
    letter-spacing: 2px;
    color: white;
}
nav a, .logo a{
    text-decoration: none;
    transition: .5s ease;
    color: inherit;
    font-size: 1.1em;
}
.menu-itens {
    gap: 20px;
    display: flex;
    list-style: none;
    z-index: 2;
}
.menu-itens li{
    /* display: flex; */
    margin-top: 10px;
}
.menu-itens a::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--azul03);
    margin-top: 5.2px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  
.menu-itens a:hover::after {
    transform: scaleX(1);
}
  

.logo a{
    color: var(--azul04);
}
.logo a:hover{
    color: var(--roxo04);
}
main{
    color: white;
    width: 100%;
    height: 100%;
    background-color: var(--fundo01);
    padding: 20px;
    letter-spacing: 1px;
}
.principal{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    align-items: center;
    height: 70vh; 
    top: 70px;
    z-index: 1;
}
.apresentacao{
    text-align: center;
}
.apresentacao h1{
    font-size: 50px;
}
.apresentacao p{
    font-size: 40px;
}
.principal span{
    text-transform: uppercase;
    color: var(--azul04);
    font-weight: 600;
    letter-spacing: 3px;
}
.principal .cursor{
    width: 3px;
    height: 42px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: 3px;
    animation: blink .6s infinite alternate;
}
@keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
