@charset "UTF-8";

body {
  background-color: var(--fundo01);
}

/* header */
.menu-fixed {
  width: 100%;
  display: block;
  top: 0;
  z-index: 2;
  height: 80px;
  padding-bottom: 10px;
}
header {
  position: fixed;
  width: 100%;
  background-color: var(--fundo01);
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--azul04);
  padding: 0px 20px;
  letter-spacing: 2px;
  color: white;
  z-index: 100;
}
a {
  text-decoration: none;
  transition: 0.5s ease;
  color: white;
  font-size: 1.1em;
  color: inherit;
}
.logo a {
  font-size: 25px;
  color: var(--principal01);
}
.logo a:hover {
  color: var(--roxo04);
}
.menu-itens {
  gap: 30px;
  display: flex;
  list-style: none;
  z-index: 2;
}
.menu-itens li {
  /* display: flex; */
  margin-top: 10px;
}
.menu-itens a::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--azul02);
  margin-top: 5.2px;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.menu-itens a:hover::after {
  transform: scaleX(1);
}
/* main */
main {
  color: white;
  width: 100%;
  height: 100%;
  background-color: var(--fundo01);
  letter-spacing: 3px;
}
/* section 1 */
.principal,
.sobre-mim,
.container-contato,
.container-skills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  min-height: 800px;
  z-index: 1;
  /* padding: 0% 20%; */
  flex-direction: column;
  padding: 10px;
}
.apresentacao {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.apresentacao h1 {
  font-size: 40px;
}
.apresentacao p {
  font-size: 30px;
  letter-spacing: 5px;
}
.principal span {
  text-transform: uppercase;
  color: var(--principal01);
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 50px;
}
.principal .cursor {
  width: 2px;
  height: 40px;
  background-color: white;
  display: inline-block;
  animation: cursor 0.6s infinite alternate;
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.btn-social {
  margin-top: 30px;
  display: flex;
  width: 300px;
  justify-content: center;
  gap: 30px;
}
.btn-social a {
  width: 150px;
  padding: 15px;
  border-radius: 10px;
}
.btn-social a:hover {
  transform: translate(-4px, -4px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.62);
  transition: transform 0.4s;
}
.btn-social img {
  width: 70px;
  height: 70px;
}
#logo-linkedin {
  border: 2px solid var(--roxo02);
}
#logo-github {
  border: 2px solid var(--azul02);
}
.aviso-scroll {
  display: flex;
  position: relative;
  bottom: 0px;
  top: 20%;
  font-weight: bolder;
  letter-spacing: 2px;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.aviso-scroll a {
  display: flex;
  position: static;
}
.aviso-scroll ion-icon {
  width: 20px;
  height: 50px;
  animation: scroll 3s infinite forwards;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
}
/* section 2 */
.sobre-mim {
  background-color: #131212;
  flex-direction: column;
  /* z-index: -1;
  position: relative; */
  width: 100%;
}
.content-sobre {
  display: flex;
  max-width: 1000px;
  /* min-height: 600px; */
}
.sobre-text {
  display: flex;
  width: 100%;
  align-items: center;
}
.sobre-img {
  display: flex;
  align-items: center;
}
.sobre-img img {
  width: 100%;
  border-radius: 100%;
  padding: 0px 30px;
  transition: 1s;
}
.sobre-img img:hover {
  transform: scale(1.05);
}

.text-eu {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  position: relative;
  width: 100%;
  /* margin-bottom: 300px; */
}
.text-eu h1,
p {
  font-family: Arial, Helvetica, sans-serif;
}
.text-eu h1 {
  font-size: 2em;
  padding: 15px;
  text-align: left;
  font-family: var(--fonte01);
  font-weight: 500;
}
.text-eu p {
  font-size: 18px;
  text-align: justify;
  text-indent: 2em;
  margin-top: 5px;
  line-height: 30px;
}
.btn-social-sobre {
  margin-top: 70px;
  display: flex;
  width: auto;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.btn-social-sobre a {
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
.btn-social-sobre a:hover {
  transform: translate(-4px, -4px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.62);
  transition: transform 0.4s;
}
.btn-intagram,
.btn-facebook {
  height: 100px;
  width: 110px;
  display: flex;
  position: relative;
}
.btn-social-sobre ion-icon {
  width: 70px;
  height: 70px;
}
#logo-instagram {
  border: 2px solid var(--roxo02);
}
#logo-instagram ion-icon {
  background-image: linear-gradient(
    -45deg,
    var(--roxo01),
    var(--roxo02),
    rgb(255, 122, 144)
  );
  background-size: 200% 200%;
  color: #131212;
  border-radius: 20px;
  animation: gradient 7s ease-out alternate infinite;
}
#logo-facebook {
  border: 2px solid #006891;
}
#logo-facebook ion-icon {
  background-image: linear-gradient(-45deg, #1616eb, #006891, var(--azul04));
  background-size: 200% 200%;
  color: #131212;
  border-radius: 50%;
  animation: gradient 7s ease-out alternate infinite;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* section 3 */



/* section 4 */

.container-contato {
  background-color: #131212;
}
.artigo-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  /* height: 100%; */
  min-height: 700px;
  border-radius: 16px;
  padding: 0px 20px;
  margin: auto;
  background-color: black;
  position: relative;
}

.artigo-contato h1,
h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}

.form-contato {
  width: 100%;
  max-width: 500px;
  font-size: 20px;
}

.form-contato label,
.form-contato input,
.form-contato textarea,
.form-contato button {
  width: 100%;
  display: block;
}

.form-contato label {
  color: white;
  line-height: 1;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-contato input,
.form-contato textarea {
  font: inherit;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
}
.form-contato textarea {
  height: 200px;
  resize: none;
}
/* #arquivo{
  padding: 0px;
  border-radius: 0px;
} */
.form-contato button {
  display: block;
  padding: 1rem;
  background-color: #4343e4;
  color: white;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
@media (max-width: 700px) {
}
