@charset "UTF-8";

.btn-mobile{
    display: none;
    padding: 5px;
}

@media (max-width: 700px) {
  .btn-mobile {
    display: block;
    z-index: 3;
  }
  .menu-itens {
    display: block;
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: rgba(30, 31, 34, 0.9);
    height: 0px;
    transition: 0.6s;
    text-align: center;
    visibility: 0;
    overflow-y: hidden;
    z-index: 2;
  }
  .Dnav.active .menu-itens {
    visibility: 1;
    height: 100vh;
    overflow-y: auto;
  }
  #Dcursor{
    display: none;
  }
  .menu-itens li {
    padding-top: 15px;
  }
  .menu-itens #x{
    margin-top: 10%;
  }
  .menu-itens a::after {
    border-bottom: 3px solid var(--principal01);
  }
  .btn-mobile {
    display: flex;
    position: relative;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
    height: 22px;
    width: 30px;
  }
  .btn-mobile span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--principal01);
    transition: 0.25s ease-in-out;
  }
  .btn-mobile span:nth-child(1) {
    top: 0;
  }
  .btn-mobile span:nth-child(2) {
    top: 8px;
  }
  .btn-mobile span:nth-child(3) {
    top: 16px;
  }
  .Dnav.active .btn-mobile span:nth-child(1) {
    transform: rotate(-135deg);
    top: 8px;
  }
  .Dnav.active .btn-mobile span:nth-child(2) {
    display: none;
  }
  .Dnav.active .btn-mobile span:nth-child(3) {
    transform: rotate(135deg);
    top: 8px;
  }

  header {
    justify-content: space-around;
  }
}
