@charset "UTF-8";

.btn-mobile {
  display: none;
  padding: 5px;
}

@media (max-width: 750px) {
  .btn-mobile {
    display: block;
    z-index: 100;
  }
  .menu-itens {
    display: block;
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: rgba(30, 31, 34, 0.9);
    height: 0px;
    transition: 0.9s ease-in-out;
    text-align: center;
    visibility: hidden;
    overflow: hidden;
    z-index: 100;
  }
  .Dnav.active .menu-itens {
    visibility: visible;
    height: 100vh;
  }

  /* .menu-itens {
    display: block;
    position: fixed;
    width: 0px;
    top: 0px;
    right: 0px;
    background-color: rgba(30, 31, 34, 0.9);
    height: 100vh;
    transition: .5s ease-in-out;
    overflow: hidden;
    z-index: 2;
    text-align: center;
  }
  .Dnav.active .menu-itens {
    width: 100%;
    overflow-y: auto;
  } */
  .menu-itens li {
    padding-top: 20px;
  }
  .menu-itens #x {
    margin-top: 30%;
  }
  .menu-itens a::after {
    border-bottom: 3px solid var(--principal01);
  }
  .btn-mobile {
    display: flex;
    position: relative;
    padding: 5px 10x;
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
    height: 22px;
    width: 30px;
    transform: translateX(0, 0);
  }
  .btn-mobile span {
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 50%;
    background-color: var(--principal01);
    transition: 0.4s ease-in-out;
    box-shadow: 1px -1px 2px rgba(30, 31, 34, 0.6),
      1px 1px 2px rgba(30, 31, 34, 0.6);
  }
  .btn-mobile span:nth-child(1) {
    top: 0;
  }
  .btn-mobile span:nth-child(2) {
    top: 8px;
  }
  .btn-mobile span:nth-child(3) {
    top: 16px;
  }
  .Dnav.active .btn-mobile span:nth-child(1) {
    transform: rotate(-135deg);
    top: 8px;
  }
  .Dnav.active .btn-mobile span:nth-child(2) {
    transform: scaleX(0);
  }
  .Dnav.active .btn-mobile span:nth-child(3) {
    transform: rotate(135deg);
    top: 8px;
  }

  header {
    justify-content: space-around;
  }
}
